.Counter{
    border: 4px solid black;
    background-color: rgb(205, 214, 221);
    margin-left: 20rem;
    margin-top: 2rem;
    padding: 2rem;
    width: 40%;
    height: 60%;
}
.center {
    width: 55%;
    height: 30vh;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    background-color: rgb(240, 147, 113);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
  }

  .btn:hover {
    background-color: #61dafb;
  }
  
  .btn_div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .Counter > .main_div > .center > h1 {
      width: 70%;
      margin-bottom: 2rem;
      background-color: rgb(92, 92, 16);
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  button{
      border-radius: 4px;
      background-color: rgb(143, 122, 179);
      color: black;
      
  }

  
  