.maindiv{
    border: 5px solid black;
    margin-top: 2rem;
    width: 35%;
    margin-left: 23rem;
    background-color: blanchedalmond;
}
 
.items {
    width: 100%;
    display: flex;
    justify-content: space-evenly ;
    margin-bottom: 10px;
}
 
.Button {
    background: transparent;
    border: none;
    background: rgb(105, 38, 47);
    border-radius: 3px;
    cursor: pointer;
    height: 2rem;
    margin-top: 3%;
    width: 2rem;
}
 